* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #202125;
    --secondary: #5f9ea0;
    --danger: #ff0000;
    --white: #fff;
    --modal-overlay: #00000080;
}

body {
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.score {
    display: flex;
    gap: 24px;
    border-bottom: 3px solid var(--secondary);
    padding: 12px 24px;
    width: fit-content;
    color: var(--white);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

.heading {
    color: var(--white);
    font-weight: 500;
    font-size: 48px;
}

.rock-paper-scissors {
    display: flex;
    gap: 12px;
}

.rock,
.paper,
.scissors {
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out, transform 50ms ease-out;
    cursor: pointer;
    border: 5px solid var(--secondary);
    border-radius: 4px;
    padding: 12px;
    color: var(--secondary);
    font-size: 60px;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.rock:active,
.paper:active,
.scissors:active {
    transform: scale(0.9);
}

.round-winner {
    color: var(--white);
    font-size: 24px;
}

.modal-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 250ms ease-in all 200ms;
    padding: 0 15px;
    width: 100%;
    height: 100%;
}
.modal-overlay.show {
    visibility: visible;
    transition: 250ms ease-out all 0ms;
    background-color: var(--modal-overlay);
}

.modal {
    display: flex;
    position: relative;
    flex-direction: column;
    transform: translateY(75px);
    opacity: 0;
    transition: 200ms ease-in all 0ms;
    border-radius: 4px;
    background-color: var(--primary);
    padding: 40px;
    max-width: 400px;
}

.modal.show {
    transform: translateY(0);
    opacity: 1;
    transition: 250ms ease-out all 200ms;
}

.play-again-btn {
    transform: translateY(0);
    transition: all 150ms;
    border: 3px solid var(--secondary);
    border-radius: 2px;
    background-color: var(--primary);
    padding: 6px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

.play-again-btn:hover {
    transform: translateY(-3px);
    background-color: var(--secondary);
}

.result {
    margin-bottom: 24px;
    border-radius: 2px;
    background-color: var(--white);
    padding: 2px 12px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.close-modal-btn {
    display: flex;
    position: absolute;
    top: -15px;
    right: -15px;
    justify-content: center;
    align-items: center;
    transition: all 100ms;
    border-radius: 50%;
    background-color: var(--white);
    width: 30px;
    height: 30px;
}

.close-modal-btn:hover {
    background-color: var(--danger);
    color: white;
}

.close-modal-btn i {
    font-size: 18px;
}
